<p-table #dt [value]="data" [columns]="cols" [paginator]="true" [rows]="7">
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Buscar Por..."
        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns; let i = index" [ngClass]="i == 2 ? 'ww30' : 'w-10'">
        {{col.header}}
      </th>
      <th>
        Acciones
      </th>
    </tr>

  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td>
        {{rowData.codigo}}
      </td>
      <td>
        {{rowData.nombre}}
      </td>
      <td>
        {{rowData.referencia}}
      </td>
      <td>
        <div *ngIf="rowData.estado == 0"><img class="img-table-icon" [src]="getImg('error-icon.png')" alt="error"></div>
        <div *ngIf="rowData.estado == 1"><img class="img-table-icon" [src]="getImg('success-icon.png')" alt="error">
        </div>
      </td>
      <td>
    
          <button mat-icon-button type="button" class="btn btnEditar"
          (click)="editarActividad(item.idActividades);">
          <i class="material-icons">mode_edit</i>
        </button>
        &nbsp;
        <button mat-icon-button type="button" class="btn"
        (click)="eliminarActividad(item.idActividades)">
            <i class="material-icons">delete</i>
          </button>
      </td>
    </tr>
  </ng-template>
</p-table>