<div *ngIf="estado=='previa'">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="flex-p">
        <div fxLayout="row">
            <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy">
                <mat-button-toggle value="add" (click)="estado='nuevo'">
                    <mat-icon>person_add</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="search">
                    <mat-icon>search</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <form class="user-search" [class.show]="controls.value == 'search'">
            <mat-form-field class="user-search-input">
                <input matInput placeholder="Search user by name..." [(ngModel)]="searchText" name="search">
            </mat-form-field>
        </form>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4" *ngFor="let item of usuario">
                <mat-card class="list mat-card " style="padding: 0px; margin-bottom: 10px; ">
                    <div class="encabezado">
                        <h2>{{item.username}}</h2>
                    </div>
                    <mat-button-toggle style="background: white; border: none; position: relative; top: 20px;"
                        checked="true">
                        <mat-icon>face</mat-icon>
                        <span>{{item.nombre}}</span>
                    </mat-button-toggle>
                    <br>
                    <mat-button-toggle style="background: white; border: none; position: relative; top: 20px;"
                        checked="true">
                        <mat-icon>face</mat-icon>
                        <span>{{item.apellido}}</span>
                    </mat-button-toggle>
                    <br>
                    <mat-button-toggle style="background: white; border: none; position: relative; top: 20px;"
                        checked="true">
                        <mat-icon>picture_in_picture</mat-icon>
                        <span>{{item.documento}}</span>
                    </mat-button-toggle>
                    <br>
                    <mat-button-toggle style="background: white; border: none; position: relative; top: 20px;"
                        checked="true">
                        <mat-icon>alternate_email</mat-icon>
                        <span>{{item.email}}</span>
                    </mat-button-toggle>
    
                </mat-card>
            </div>
        </div>
    </div>
</div>
<!--Nuevo usuario-->
<div class="container" *ngIf="estado=='nuevo'">
    <div class="row">
        <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy">
            <mat-button-toggle  (click)="estado='previa'">
                <mat-icon>reply</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="row">
        <mat-card style="position: relative; left: 200px;">
            <mat-card-header >
                <mat-card-title style="text-align: center">Nuevo Usuario</mat-card-title>
            </mat-card-header>
            <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Nombres</mat-label>
                        <input matInput placeholder="Flor,Florida" >
                      </mat-form-field>
                </div>
                <div class="col-md-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Apellidos</mat-label>
                            <input matInput placeholder="Perez,Cantillo" >
                          </mat-form-field>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                        <mat-form-field class="example-full-width" appearance="outline" style="width: 430px">
                                <mat-label>Correo</mat-label>
                            <input matInput placeholder="ejemplo@emjemplo.com" type="email" >
                        </mat-form-field>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-6">
                            <mat-form-field class="example-full-width" appearance="outline" >
                                    <mat-label>Contraseña</mat-label>
                                <input matInput placeholder="*******" type="password" >
                            </mat-form-field>
                    </div>
                    <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="outline" >
                                    <mat-label>Documento</mat-label>
                                <input matInput placeholder="1234567890" type="number" >
                            </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions align="start">
                <button mat-button (click)="onAction1">Action1</button>
                
            </mat-card-actions>
        </mat-card>
    </div>
</div>



