<div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p" >
        <mat-card class="p-0 list" >
            <mat-sidenav-container>
                <div>
                    <mat-toolbar
                        style="background-image: url('../../../../../assets/img/circles3.png');background-size: cover;background-repeat: no-repeat; color: white"
                        fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <button mat-flat-button color="warn" (click)="estado='nuevoR'">
                                <mat-icon>add_circle</mat-icon>&nbsp; Nuevo Cliente
                            </button>
                        </div>
                    </mat-toolbar>
                    <div class="list-content" perfectScrollbar>
                        <p-table #dt [value]="clientes" [columns]="cols" [paginator]="true" [rows]="7">
                                <ng-template pTemplate="caption">
                                <div style="text-align: right">        
                                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                        <input type="text" pInputText size="50" placeholder="Buscar Por..." (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                </div>
                                </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns; let i = index" >
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData">
                                    <td>
                                        {{rowData.documento}}
                                    </td>
                                    <td>
                                        {{rowData.nombre}}
                                    </td>
                                    <td>
                                        {{rowData.telefonoCelular}}
                                    </td>
                                    <td>
                                        {{rowData.direccion}}
                                    </td>
                                    <td>
                                        {{rowData.ciudad}}
                                    </td>
                                    <td>
                                        {{rowData.email}}
                                    </td>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </mat-sidenav-container>
        </mat-card>
        <!--nuevo cliente-->

    </div>
</div>