<!--Division-->
<div fxLayout="row wrap" *ngIf="estado==true">
    <div fxFlex="100" class="flex-p">
        <mat-card class="p-0 list">
            <mat-sidenav-container>
                <div>
                    <mat-toolbar
                        style="background-image: url('../../../../../assets/img/circles3.png');background-size: cover;background-repeat: no-repeat; color: white"
                        fxLayout="row" fxLayoutAlign="space-between center">    
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <button mat-flat-button color="warn" (click)="estado=false; crear=true">
                                <mat-icon>add_circle</mat-icon>&nbsp; Nuevo Cliente
                            </button>
                        </div>
                    </mat-toolbar>
                    <div class="list-content" perfectScrollbar>
                        <p-table #dt [value]="clientes" [columns]="cols" [paginator]="true" [rows]="7">
                            <ng-template pTemplate="caption">
                                <div style="text-align: right">
                                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                    <input type="text" pInputText size="50" placeholder="Buscar Por..."
                                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns; let i = index">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData">
                                    <td>
                                        {{rowData.documento}}
                                    </td>
                                    <td>
                                        {{rowData.nombre}}
                                    </td>
                                    <td>
                                        {{rowData.telefonoCelular}}
                                    </td>
                                    <td>
                                        {{rowData.direccion}}
                                    </td>
                                    <td>
                                        {{rowData.ciudad}}
                                    </td>
                                    <td>
                                        {{rowData.email}}
                                    </td>
                                    <td>
                                            <button   mat-button  (click)="estado=false;actualizar=true; SetCliente(rowData)"><i class="material-icons edit">mode_edit</i></button>
                                            <button  mat-button (click)="estado=false"><i class="material-icons delete">delete</i></button>
                                        </td>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </mat-sidenav-container>
        </mat-card>
    </div>
</div>
<!--FORMULARIO DE NUEVO CLIENTE-->
<div class="container" *ngIf="estado==false">
    <mat-card class="nuevoE">
        <h2 *ngIf="crear">Nuevo Cliente</h2>
        <h2 *ngIf="actualizar">Actualizar Datos</h2>
        <hr>
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline">
                        <mat-label>Nombre completo:</mat-label>
                    <input matInput placeholder="Nombre Completo" name="nombre" id="nombre" [(ngModel)]="nombre">
                </mat-form-field>
            </div>
            <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Correo:</mat-label>
                        <input matInput placeholder="@" id="email" [(ngModel)]="email">
                    </mat-form-field>
                </div>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre corto:</mat-label>
                    <input matInput placeholder="nombre corto" id="nombrecorto" [(ngModel)]="nombrecorto">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Documento:</mat-label>
                    <input matInput type="number" placeholder="Documento" id="documento" [(ngModel)]="documento">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Telefono Fijo:</mat-label>
                    <input matInput placeholder="Telefono" type="number" id="telefonoFijo" [(ngModel)]="telefonoFijo">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Telefono Celular:</mat-label>
                    <input matInput placeholder="+57" type="number" id="telefonoCelular" [(ngModel)]="telefonoCelular">
                </mat-form-field>
            </div>

        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Cidudad:</mat-label>
                    <input matInput placeholder="Ciudad" id="ciudad" [(ngModel)]="ciudad">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Direccion:</mat-label>
                    <input matInput placeholder="Direccion" id="direccion" [(ngModel)]="direccion">
                </mat-form-field>
            </div>
          

        </div>
        <div class="row">
                <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Atencion:</mat-label>
                            <input matInput placeholder="atencion" id="atencion" [(ngModel)]="atencion">
                        </mat-form-field>
                    </div>
        </div>
        <hr>
        <button class="crear" (click)="nuevoCliente()" *ngIf="crear" mat-button>Crear</button>
        <button class="crear"  mat-button *ngIf="actualizar" (click)="editarDatos()">Actualizar</button>
        <button class="cancelar" (click)="estado=true; crear=false; actualizar=false" mat-button>Cancelar</button>

    </mat-card>

</div>