<p-table class="theader-color tbody-color" *ngIf="table == 0" #dt [value]="data" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20,100]">
        <ng-template pTemplate="header">
                <tr class="bg">
                        <th width="10%">Codigo</th>
                        <th width="20%">Nombre</th>
                        <th width="30%">Descripcion</th>
                        <th width="15%">Responsable</th>
                        <th width="15%">Revision</th>
                        <th width="10%">Acciones</th>
                </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
                <tr>
                        <td>{{item.codigo}}</td>
                        <td style="text-align: left">{{item.nombre}}</td>
                        <td style="text-align: left">{{item.descripcion}}</td>
                        <td style="text-align: left">{{item.responsable}}</td>
                        <td>{{item.revision}}</td>
                        <td>
                                <button mat-icon-button pTooltip="Ver Actividades" tooltipPosition="top"
                                        (click)="getActividadesPorProtocolo(item.idProtocolo)">
                                        <mat-icon>ballot</mat-icon>
                                </button>
                                <button mat-icon-button pTooltip="Ver Instrumentos" tooltipPosition="top"
                                        (click)="getInstrumentosPorProtocolos(item.idProtocolo)">
                                        <mat-icon>widgets</mat-icon>
                                </button>
                        </td>
                </tr>
        </ng-template>
</p-table>
<!--
  /////////// table actividades
-->
<p-table *ngIf="table == 1" #dt2 [value]="actividades" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
                <tr>
                        <div style="margin: 7px" fxLayout="row" fxLayoutAlign="start center">
                                <button style="float: right" mat-flat-button color="accent" (click)="return()">
                                        <mat-icon class="mat-18">keyboard_backspace</mat-icon> &nbsp; regresar
                                </button>
                        </div>
                </tr>
                <tr class="bg">
                        <th width="10%">ID</th>
                        <th width="70%">Descripcion</th>
                        <th width="10%">Orden</th>
                        <th width="10%">Estado</th>
                </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
                <tr class="tbody">
                        <td>{{item.idActividades}}</td>
                        <td style="text-align: left">{{item.actividades}}</td>
                        <td>{{item.orden}}</td>
                        <td>
                                <div *ngIf="item.estado == 0"><img class="img-table-icon" [src]="getImg('error-icon.png')" alt="error"></div>
                                <div *ngIf="item.estado == 1"><img class="img-table-icon" [src]="getImg('success-icon.png')" alt="success"></div>
                        </td>
                </tr>
        </ng-template>
</p-table>
<!--
  /////////// table instrumentos
-->
<p-table *ngIf="table == 2" #dt2 [value]="instrumentos" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
                <tr>
                        <div style="margin: 7px" fxLayout="row" fxLayoutAlign="start center">
                                <button style="float: right" mat-flat-button color="accent" (click)="return()">
                                        <mat-icon class="mat-18">keyboard_backspace</mat-icon> &nbsp; regresar
                                </button>
                        </div>
                </tr>
                <tr class="bg">
                        <th width="10%">ID</th>
                        <th width="30%">Nombre</th>
                        <th width="30%">Marca</th>
                        <th width="30%">Modelo</th>
                </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
                <tr class="tbody">
                        <td>{{item.fkInstrumento.idInstrumentos}}</td>
                        <td style="text-align: left">{{item.fkInstrumento.nombre}}</td>
                        <td style="text-align: left">{{item.fkInstrumento.marca}}</td>
                        <td style="text-align: left">{{item.fkInstrumento.modelo}}</td>
                </tr>
        </ng-template>
</p-table>