<div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p">
        <mat-card class="p-0 list">
            <mat-sidenav-container>
                <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'"
                    class="list-sidenav mat-elevation-z1">
                    <mat-toolbar style="background-image: url('../../../../../assets/img/circles5.png'); color: #333"
                        class="p-0" fxLayout="row" fxLayoutAlign="space-between center">
                        <input [(ngModel)]="searchText" type="text" placeholder="Buscar Por..."
                            class="search mat-elevation-z3">
                    </mat-toolbar>
                    <mat-nav-list class="p-0 list-sidenav-list" perfectScrollbar>
                        <div *ngFor="let item of protocolos | filter: {codigo: searchText, descripcion: searchText, nombre: searchText}"
                            (click)="getActividadesPorProtocolos(item.idProtocolo); setNombreProtocolo(item.nombre)">
                            <mat-list-item style="height: 65px">
                                <div matLine fxLayout="row" fxLayoutAlign="space-between space-between">
                                    <h4 class="text-truncate sender">{{item.codigo}}</h4>
                                </div>
                                <p matLine class="text-truncate subject text-wine">{{item.descripcion}}</p>
                                <p matLine class="text-truncate subject text-wine">{{item.nombre}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-nav-list>
                </mat-sidenav>

                <!-- ----------- MODAL NUEVA ACTIVIDAD -----------  -->
                <ngx-smart-modal [dismissable]="false" [escapable]="false" #modalNuevaActividad identifier="modalNuevaActividad"
                    style="text-align: center;">
                    <h1>Añadir Actividad</h1>
                    <br>
                    <form [formGroup]="nueva_actividad">

                        <h3>Empresa</h3>
                        <input type="text" pInputText value="{{usuario.empresa.nombreEmpresa}}" disabled/>
                         
                        <br><br>

                        <h3 class="first">Protocolo</h3>
                        <p-dropdown [options]="protocolos" [(ngModel)]="protocoloSeleccionado.id_protocolo"
                            placeholder="Selecionar protocolo" optionLabel="nombre" [showClear]="true" [filter]="true">
                        </p-dropdown>

                        <br><br>
                        <h3>Descripción</h3>
                        <textarea pInputTextarea></textarea>

                        <br><br>
                      
                        

                        <br>
                    </form>

                    <hr>
                    <br>

                    <button mat-raised-button style="background-color: #42BD75;"
                        (click)="modalNuevaActividad.close()">Crear</button>
                        &nbsp;
                        <button mat-raised-button (click)="modalNuevaActividad.close()">Cerrar</button>

                </ngx-smart-modal>
                <!-- -----------  -----------  -->
                <div>
                    <mat-toolbar
                        style="background-image: url('../../../../../assets/img/circles3.png');background-size: cover;background-repeat: no-repeat; color: white;"
                        fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <button mat-icon-button (click)="sidenav.toggle()">
                                <mat-icon>list</mat-icon>
                            </button>
                        </div>
                        <button mat-raised-button color="warn">{{nombreProtocolo}}</button>

                        <button mat-raised-button color="warn"
                            (click)="ngxSmartModalService.getModal('modalNuevaActividad').open()">
                            <mat-icon>add</mat-icon>&nbsp; Nueva Actividad
                        </button>

                    </mat-toolbar>
                    <mat-menu #moreMenu="matMenu" xPosition="before" overlapTrigger="true">
                    </mat-menu>
                    <div class="list-content" perfectScrollbar>
                        <app-actividades-table *ngIf="actividades != null" [data]="actividades"></app-actividades-table>
                        <div *ngIf="!actividades" fxLayout="column" fxLayoutAlign="center center" class="h-100 empty">
                            <h2 style="color: rgb(104, 172, 70);">Selecciona Un Protocolo</h2>
                            <div *ngIf="!actividades" class="lds-ellipsis">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-sidenav-container>
        </mat-card>
    </div>
</div>