<p-table *ngIf="table == 0" #dt [value]="data" [columns]="cols"  [paginator]="true" [rows]="7">
  <ng-template pTemplate="caption">
      <div style="text-align: right">        
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Buscar Por..." (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns; let i = index" [ngClass]="i == 1 ? 'ww40' : 'w-10'">
                  {{col.header}}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
          <td>
                  {{rowData.idInstrumentos}}
          </td>
          <td>
                  {{rowData.nombre}}	
          </td>
          <td>
                  {{rowData.marca}}	
          </td>
          <td>
                  {{rowData.modelo}}	
          </td>
          <td>
              <button mat-icon-button pTooltip="Ver Protocolos" tooltipPosition="top" (click)="getProtocolosPorInstrumento()">
                  <mat-icon>ballot</mat-icon>
              </button>	
          </td>
          </tr>
  </ng-template>
</p-table>
<p-table *ngIf="table == 1" #dt [value]="protocolos" [paginator]="true" [rows]="7">
  <ng-template pTemplate="header">
    <tr>
      <div  style="margin: 7px" fxLayout="row" fxLayoutAlign="start center">
        <button style="float: right" mat-flat-button color="accent" (click)="return()">
          <mat-icon class="mat-18">keyboard_backspace</mat-icon> &nbsp; regresar
        </button>
      </div>
    </tr>
    <tr class="bg">
      <th width="10%">Codigo</th>
      <th width="20%">Nombre</th>
      <th width="30%">Descripcion</th>
      <th width="20%">Responsable</th>
      <th width="20%">Revision</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr class="tbody">
      <td>{{item.fkProtocolo.codigo}}</td>
      <td style="text-align: left">{{item.fkProtocolo.nombre}}</td>
      <td style="text-align: left">{{item.fkProtocolo.descripcion}}</td>
      <td style="text-align: left">{{item.fkProtocolo.responsable}}</td>
      <td>{{item.fkProtocolo.revision}}</td>
    </tr>
  </ng-template>
</p-table>
