.list{
    width: 350px;
    height: 250px;
}
.encabezado{
    width: 350px;
    background: #5457D5; 
    height: 50px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.circulo {
    width: 90px;
    height: 90px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;    
    position: relative;
    left: 200px;
    bottom: 180px;
}