<div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p">
        <mat-card class="p-0 list">
            <mat-sidenav-container>
                <div>
                    <mat-toolbar style="background-image: url('../../../../../assets/img/circles3.png');background-size: cover;background-repeat: no-repeat; color: white" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <button mat-raised-button style="background-color: #397367; color:white;"
                                (click)="nuevoProtocolo();">
                                <mat-icon>add</mat-icon>&nbsp; NUEVO PROTOCOLO
                            </button>
<!--                             <button mat-flat-button color="warn" (click)="ngxSmartModalService.getModal('myModal').open()">
                                <mat-icon>add_circle</mat-icon>&nbsp; Nuevo Protocolo
                            </button> -->
                        </div>
                    </div>
                </mat-sidenav-container>
            </mat-card>
        </div>
    </div>
</div>

<ngx-smart-modal [dismissable]="false" [escapable]="false" #modalNuevoProtocolo identifier="modalNuevoProtocolo" style="text-align: center;">
    <h1>Añadir Protocolo</h1>
    <br>
    <form class="example-form">
        <mat-form-field class="example-full-width" *ngFor="let item of Usuario">
          <input matInput placeholder="Empresa" value="{{item.nombre}}">
          
        </mat-form-field>
        &nbsp;
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food">
          </mat-form-field>
          &nbsp;
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Favorite food">
            </mat-form-field>
            <br>
    </form>

    <hr>
    <br> 

    <button mat-raised-button (click)="modalNuevoProtocolo.close()">Cerrar</button>
    &nbsp;
    <button mat-raised-button style="background-color: #42BD75;" (click)="modalNuevoProtocolo.close()">Crear</button>

</ngx-smart-modal>

<!--
  /////////// form nuevo protocolo
-->



