<div fxLayout="row wrap" *ngIf="estado==true">
  <div fxFlex="100" class="flex-p">
    <mat-card class="p-0 list">
      <mat-sidenav-container>
        <div>
          <mat-toolbar
            style="background-image: url('../../../../../assets/img/circles3.png');background-size: cover;background-repeat: no-repeat; color: white"
            fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-flat-button color="warn"(click)="estado=false; crear=true;clear()">
                <mat-icon>add_circle</mat-icon>&nbsp; Nuevo Tecnico
              </button>
            </div>
          </mat-toolbar>
          <div class="list-content" perfectScrollbar>
            <p-table #dt [value]="tecnicos" [paginator]="true" [rows]="7">
              <ng-template pTemplate="header">
                <tr class="bg">
                  <th width="5%">id</th>
                  <th width="20%">Documento</th>
                  <th width="30%">Nombre</th>
                  <th width="20%">Telefono</th>
                  <th width="30%">Correo</th>
                  <th width="20%">Ciudad</th>
                  <th width="20%">Empresa</th>
                  <th width="10%">Estado</th>
                  <th width="20%">Acciones</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr class="tbody">
                  <td>{{item.idTecnico}}</td>
                  <td style="text-align: left">{{item.documento}}</td>
                  <td style="text-align: left">{{item.nombre}}</td>
                  <td style="text-align: left">{{item.telefonoCelular}}</td>
                  <td style="text-align: left">{{item.email}}</td>
                  <td  style="text-align: left" >{{item.ciudad}}</td>
                  <td style="text-align: left">{{item.fkEmpresa.nombreEmpresa}}</td>
                  <td  style="text-align: left">{{item.estado}}</td>
                  <td>
                    <button mat-icon-button pTooltip="Ver Protocolos" (click)="estado=false; actualizar=true; SeleTecnico(item)"
                      tooltipPosition="top">
                      <mat-icon>mode_edit</mat-icon>
                    </button>
                    <button mat-icon-button pTooltip="Ver Protocolos" (click)="SeleTecnico(item)" tooltipPosition="top">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </ng-template>
              </p-table>
          </div>
        </div>
      </mat-sidenav-container>
    </mat-card>
  </div>
</div>
<!--FORMULARIO NUEVO TECNICO-->
<div class="container" *ngIf="estado==false">
  <mat-card class="formulario">
    <h2 *ngIf="crear">Nuevo Tecnico</h2>
    <h2 *ngIf="actualizar">Actualizar tecnico</h2>
    <hr>
    <form  [formGroup]="datos" class="form-sample" >
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Nombre:</mat-label>
          <input matInput placeholder="nombre" id="nombre" name="nombre" formControlName="nombre">
      </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Nombre corto:</mat-label>
          <input matInput placeholder="nombre corto" id="nombreCorto" name="nombreCorto" formControlName="nombreCorto">
      </mat-form-field>
      </div>
    </div>
    <!--end row-->
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Documento:</mat-label>
          <input matInput placeholder="123456789" id="documento" name="documento" formControlName="documento">
      </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Direccion:</mat-label>
          <input matInput placeholder="cra..." id="direccion" name="direccion" formControlName="direccion">
      </mat-form-field>
      </div>
    </div>
    <!--end row-->
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Telefono Fijo:</mat-label>
          <input matInput placeholder="3012356" id="telefonoFijo" name="telefonoFijo" formControlName="telefonoFijo">
      </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Telefono Celular:</mat-label>
          <input matInput placeholder="+57" id="telefonoCelular" name="telefonoCelular" formControlName="telefonoCelular">
      </mat-form-field>
      </div>
    </div>
    <!--end row-->
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Email:</mat-label>
          <input matInput placeholder="@" id="email" name="email" formControlName="email">
      </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Ciudad:</mat-label>
          <input matInput placeholder="Barranquilla" id="ciudad" name="ciudad" formControlName="ciudad">
      </mat-form-field>
      </div>
    </div>
    <!--end row-->
    <hr>
        <button  [disabled]="!datos.valid" mat-button class="botones" (click)="postagregarTecnicos()" *ngIf="crear"  style="background: #49978e;    position: relative;"
            >Crear</button>
       <button  [disabled]="!datos.valid" mat-button class="botones" *ngIf="actualizar "
            style="background: #49978e;    position: relative;" (click)="editarTecnicos()">Actualizar</button>
        <button mat-button class="botones" (click)="estado=true; crear=false; actualizar=false"
            style="background: rgb(192, 66, 66); color:white;    position: relative;">Cancelar</button>
          </form>
  </mat-card>

</div>